<div class="team">
  <div class="team-content text-center">
    <h1>
      Our awesome Team!
    </h1>
    <ul class="list-inline text-center">
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/unischneider", class: "img-circle profile-pic" %>
        <h2>
          Nick Schneider
        </h2>
        <p>
          <%= link_to "http://github.com/unischneider"  %>
          <i class="fa fa-github"> Unischneider</i>
        </p>
      </li>
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/marcrowindo", class: "img-circle profile-pic" %>
        <h2>
          Marc Wyss
        </h2>
        <p>
          <%= link_to "http://github.com/marcrowindo"%>
          <i class="fa fa-github"> Marcrowindo</i>
        </p>
      </li>
    </ul>
  </div>
</div>
